<h1>New User Account</h1>

<form action="/users" method="post">
  <div class="mb-3">
    <label for="username_input" class="form-label">Username</label>
    <input type="text" name="username" id="username_input" class="form-control">
  </div>

  <div class="mb-3">
    <label for="email_input" class="form-label">Email</label>
    <input type="email" name="email" id="email_input" class="form-control">
  </div>

  <div class="mb-3">
    <label for="password_input" class="form-label">Password</label>
    <input type="password" name="password" id="password_input" class="form-control">
  </div>
  <button>Signup</button>
</form>
