<h1>Places</h1>

<% if session["user_id"] != nil %>
  <a href="/places/new" class="btn btn-primary">New Place</a>
<% end %>

<ul class="list-group mb-3">
  <% for place in @places %>
    <li class="list-group-item">
      <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
    </li>
  <% end %>
</ul>
<!-- Used chat gpt to help with the bootstrap UI for the places list>